@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: var(--font-custom);
}

/* 기본적으로 푸터가 있다고 가정할 때 */
.footer {
  display: block;
}

/* 태블릿(아이패드) 및 모바일 화면에서는 숨김 */
@media (max-width: 1224px) {
  .footer {
    display: none !important;
  }
  /* 또는 특정 컴포넌트 클래스명 */
  .MuiBox-root.dashboard-footer {
    display: none !important;
  }
}
